<div class="center hero-unit">
  <h3>Associate Induction</h3>

  <h2>
    An internal application to enhance the learning curve of new hire to the account to make them productive onboard quickly.
  </h2>

  <%#= link_to "Sign up now!", '#', class: "btn btn-small btn-primary" %>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
